{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Lista Produktów</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

    <div class="navbar">
        <h1>Produkty</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Wyloguj</a>
        {% else %}
            <a href="{% url 'login' %}">Zaloguj</a>
        {% endif %}
    </div>

    <div class="container">
        {% if user.is_authenticated %}
            <a href="{% url 'add_product' %}" class="add-button">Dodaj Produkt</a>
        {% endif %}

        <ul>
            {% for product in products %}
                <li>
                    {{ product.product_name }} - {{ product.product_price }}
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'delete_product' product.id %}" style="margin: 0;">
                            {% csrf_token %}
                            <button type="submit" class="delete-button" onclick="return confirm('Czy na pewno usunąć?')">Usuń</button>
                        </form>
                    {% endif %}
                </li>
            {% empty %}
                <li>Brak produktów w bazie.</li>
            {% endfor %}
        </ul>
    </div>

</body>
</html>
